<?xml version="1.0" encoding="utf-8"?>
<AcisSMEConfiguration >
  <SMEEndpoints>
    <Endpoint>
      <Name>HelloWorldExtension</Name>
      <EndpointType>HelloWorldExtensionEndpoint</EndpointType>
      <Url></Url>
      <SMEConfig>
        <ConfigElement>
          <Key>env</Key>
          <Value>Sample</Value>
        </ConfigElement>
      </SMEConfig>
    </Endpoint>
  </SMEEndpoints>
  <ContactInfo>
    <!-- Fill out e-mail address for an e-mail address to contact your team, including @microsoft.com -->
    <ContactEmailAddress>shilpaprasad@microsoft.com</ContactEmailAddress>
    <!-- Fill out the SERVICE name for your team in ICM, e.g., Acis and Runners is ACIS Team's service name-->
    <IcmService>Your IcM service's name (i.e. Acis and Runners)</IcmService>
    <!-- Fill out the TEAM name for your team in ICM, e.g., ACIS-->
    <IcmTeam>Your IcM team's name (i.e. ACIS)</IcmTeam>
    <!-- Fill out the SERVICE id for your team in ServiceTree, e.g., 00000000-0000-0000-0000-000000000000 is ours -->
    <ServiceTreeServiceId>00000000-0000-0000-0000-000000000000</ServiceTreeServiceId>
  </ContactInfo>
  <MetricAccount>Your metric account (i.e. AcisProd)</MetricAccount>
  <!-- Fill out the valid source code repository url, e.g., https://msazure.visualstudio.com/One/_git/EngSys-Acis-Legacy is ours. Do not use below invalid URL for publishing -->
  <!--SourceCodeUrl>https://{provide-source-code-repository-url}</SourceCodeUrl-->
</AcisSMEConfiguration>

